* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* height: 3000px; */
    font-family: 'varela round' , sans-serif;
}
/***************Section_header*********/
.header {
    width: 100%;
    height: 60px;
    background-color: gray;
    overflow: auto;
    opacity: 0.8;
    z-index: 3;
    position: fixed;
    top:0;
}
.container,.website-section,.feaure-container,.container-offer,
.why-container ,.container-size,.price-container {
    width: 80%;
    margin: auto;
}
.head-line {
    display: block;
    width: 42px;
    height: 3px;
    background-color: blue;
    margin-top: -1px;
}
.header-continer {}
.logo img{
    width: 100px;
    height: 60px;
    float: left;
    border: none;
    border-radius: 27px;
}
.header-list {
    float:right;
    text-align: right;
    list-style-type: none;
    position: relative;
}
.header-list li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-right: 40px;
}
.header-list li a {
    text-decoration: none;
    color: white;
    padding: 10px 0;
}
 
.header-list li a::after{
    content: "";
    display: block;
    width: 0;
    height: 3px;
    left: 0;
    margin-top: 3px;
    background-color: blue;
    transition: 0.5s;
}
.header-list li a:hover:after{
    width: 100%;
} 

/********Section_One*************/

.home {
    width: 100%;
    height: 100vh;
    background-image: url(../Image/IMAG1.webp);
}
.home-container {
    position:absolute;
    background-color:rgba(0,0,0,0.4);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-item {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 70%;
    text-align: center;
}
.home-title {
    color:white;
    text-transform: capitalize;
    font-size: 50px;
}
.home-text {
    color: blanchedalmond;
   letter-spacing:1px;
   word-spacing: 3px;
}
.but {
    border-radius: 5px;
    border: 0;
    width: 150px;
    padding: 15px 0;
    cursor: pointer;
    font-size: 20px;
    text-transform: capitalize;
    margin: 10px 5px;
    cursor: pointer;
}
.home-fir-but  {
    color: black;
    background-color: #fff;
}
.home-sec-but {
    color :white;
    background-color: blue;
}
.home-fir-but:hover,.home-sec-but:hover {
    opacity: 0.5;
} 

/*********Section Two ************/
 
.website-section {
    padding: 120px;
}
 .website-content {
    position: relative;
    
} 
 .website-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    
}
    
.website-line,.feature-line,.offer-line,.pricing-line,.team-line{
    display: block;
    height: 3px;
    width: 62px;
    background-color: #6195ff;
    margin: 0 auto 70px auto ;


} 
.web-item  {
    float: left;
    width: 30%;
    padding:30px 20px ;
    border: 1px solid gray;
    text-align: center;
    position: relative;
}
.sec2 {
    margin: 0 5%;
}
.web-icon {
    color:#6195ff;
    font-size: 25px;
    margin-bottom: 10px;
}
.web-item-head {
    text-transform: capitalize;
    margin-bottom: 10px;
}
.web-text {
    color: rgb(159, 156, 156);
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.web-link {
    text-decoration: none;
    color:#6195ff ;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 18px;
} 
.web-item::after{
    z-index: -1;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top:0;
    left: 0;
    background-color: #333;
    opacity: 0;
}
.web-item:hover:after{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s;
}
.web-item:hover h2 {
    color: #fff;
}
/*********section three**************/
.featur-section {
    background-color: rgb(232, 232, 232);
       
}
.feature-title {
    margin-top:300px;
    text-align: center;
}
.feat-head {
    padding-top: 150px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
}
/* .feature-line {
    width: 62px;
    height: 3px;
    background-color: #6195ff;
    display: block;
    margin: 0 auto 70px ;
} */


.featur-contant{
    overflow: auto;
    position: relative;
    padding-bottom: 200px;
}
.feature-item {
    background-color: #fff;
    display: block;
    width: 30%; 
    float: left;
    text-align: center;
    width: 30%;
    position: relative;
    margin-bottom: 20px;
}
 .feature-img-item {
     width: 90%;    
}
.sec {
    margin:0 5%;
}
.feature-infor {
    padding: 65px;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
} 
 
.feature-item:hover .feature-infor {
    visibility: visible;
    opacity: 1;
}
.feature-infor span {
    color:#6195ff;
    font-size: 25px;
    
}
.feature-infor h3 {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    /* margin-top: 10px; */
}
.feature-infor i {
    
    background-color:#6195ff;
    font-size: 25px;
     margin-top: 15px;
     margin-left: 10px;
}

/*********section-four*****************/
.offer-section {
    
}
.offer-header {
    margin: auto;
    text-align: center;
    margin:150px 0;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: bold;  
}
/* .offer-line{
    width: 62px;
    height: 3px;
    background-color: #6195ff;
    display: block;
    margin: 0 auto 70px ;
} */
 

.offer-content {
    overflow: auto;
   
}
.offer-item {
      border:1px solid gray;
      padding: 30px 30px;
      line-height: 1.8;
      float: left;
      width: 30%;
      margin-bottom: 30px;
      position: relative;
     
}

.offer-sec {
    margin: 0 5%;
}
.off-icon {
    color: #6195ff;
    font-size: 22px;
    padding-right: 15px;
}
.offer-item-head {
    display: inline;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 25px;

}
.off-par {
    text-transform: capitalize;
    color: #999;
    padding-left: 44px;
    padding-bottom: 30px;
} 
.offer-item::after{
     content: "";
     position: absolute;
     width: 0;
     height: 0;
     top:0;
     left: 0;
     background-color: #333;
     opacity: 0;
     z-index: -1;

}
.offer-item:hover:after{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 1s;
     
}
.offer-item:hover h2 {
    color: #fff;
}
/**********************section-five*******************/
.why-section {
    background-color: #f9f9f9;
    margin-top: 100px;
    padding: 120px 0;
}
.why-contain{
    overflow: auto;
     
}
.why-head {
   text-transform:capitalize;
   font-size: 35px;
   padding-top: 150px;
}
.why-line {
  width: 62px;
    height: 4px;
    background-color: #6195ff;
  display: block;
  margin-top: 7px; 
  margin-bottom: 40px;
   
} 
.why-item-contain {
    float: left;
    width: 40%;
}
.why-pra {
    color: #999;
    margin: 17px auto;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 20px;
} 
.why-list {
    list-style-type: none;
    
}
.why-list li {
    color: #999;
}

.why-list i {
    color: #6195ff;
    font-size: 20px;
    margin-bottom: 17px;

}
.why-image {
    float:left;
    width: 40%;
    margin: 0 10%;
}
.img-why {
    margin-top: 150px;
    
    width: 550px;
    height: 400px;
    padding:0 50px;
    background-color: #fff;
}
.why-img-list {
    list-style-type: none;
    text-align: center;
}
.why-img-list li {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
}
.why-img-list .first-li {
    background-color: #6195ff;
}
.why-img-list li:hover {
    background-color: #6195ff;
}

/*********section-six**********/

.size {
    background-image: url(../Image/security.webp);
    background-attachment: fixed;
    width: 100%;
    height: 360px;
    position: relative;
}
.overlay {
    position: absolute;
    background-color:rgba(0,0,0,0.8);
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
}
.size-item {
   overflow: auto;
   padding-top: 150px;
}
.size-item-element {
    width: 25%;
    float: left;
    text-align: center;
}
.size-item-element i {
    color: #6195ff;
    font-size: 30px;
    padding-bottom: 15px;
}
.size-head {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.size-span {
    color: #fff;
}

/*****************section-seven******************/

.pricing-section{
    background-color: #e8e8e8;
}
.pricing-contan {
   overflow: auto;
}
.pricing-title{
    text-align: center;
    
}
.pricing-head{
    text-transform: capitalize;
    padding-top: 130px;
    font-size: 35px;
    padding-bottom: 14px;
}
/* .pricing-line {
    display: block;
    width: 62px;
    height: 4px; 
    margin: auto;
    background-color: #4c85f5;
} */
.pricing-item {
    float: left;
    width: 30%;
    border:1px solid gray;
    text-align: center;
    padding: 30px 15px;
    margin-top: 80px;
    position: relative;
    margin-bottom: 150px;
}
.pricing-item-text {
    color: #999;
    font-size: 18px;
    text-transform: uppercase;

}

.pricing-item-permonth {
    width: 100px;
    height: 100px;
    border: 2px solid #6195ff;
    border-radius: 50%;
     margin: 15px auto;
    text-align: center;
    padding: 15px 0;
     
}
.doller {
    font-size: 40px;
    font-weight: bold;
}
.month {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.pricing-list {
    list-style-type: none;
}
.pricing-list li {
     color: #999;
    line-height: 1.8;
  
}
.pricing-purchase {
    border: 2px solid #6195ff;
    padding: 5px;
    width: 120px;
    margin-top: 17px;
}

.pricing-item::after {
    content: "";
   position:absolute;
   width: 100%;
   height: 0;
   top:0;
   left: 0;
   background-color: #333;
   opacity: 0;
}
.pricing-item:hover:after{
    width: 100%;
   height:100%;
   opacity: 0.5;
   transition: 0.5s;
}
.pricing-item:hover .pricing-item-text{
     color: red;
}
.pricing-item:hover .doller {
    color: red;
}
.pricing-item:hover .month {
    color: red;
}
/******************Section-8 ******************************/
.web-designe {
    background-image: url(../Image/ground.jpeg);
    background-attachment: fixed;
    width: 100%;
    height: 360px;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left: 0;
}
.design-contant {
    overflow: auto;
    
}
.design-item{
   float: left;    
    width: 50%;
   padding: 55px 20px 110px 0;
}
.design-img {
    padding: 90px 20px 10px 150px;
    position: relative;
    line-height: 1.3;
    margin-bottom: 20px;
}
.design-img-item {
    width: 80px;
    height: 80px;
    border: none;
    position: absolute;
    top: 82px;
    left: 65px;
    border-radius: 50%
}
.design-head  {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.design-text {
    color: #6195ff;
}
.design-info-text{
    color: #fff;
    text-transform: capitalize;
    line-height: 1.5;
    margin-left: 75px;
    font-size: 16px;     
} 
/****************section-9******************/
.team-section {

}
.overlay-taem {

}
.team-contant {
    text-align: center;
    margin-top: 150px;
   margin-bottom: 150px;
}
.team-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 9px;
}
/* .team-line{
    display: block;
    width: 62px;
    height: 4px;
    background-color: royalblue;
    margin: 0 auto 70px auto;
} */
.team-image{
    position: relative;
    width: 90%;
}

.team-item {
    width: 30%;
    float: left;
    padding: 17px 12px;
    background-color: #d1caca;
    text-align: center;
    position: relative;
}
.team-iteam-img {
    width: 300px;
    height: 300px;
    padding:0 17px;
} 
.team-icon {
    position: absolute;
    top: 0;
    left: 0;
    right:0 ;
    bottom: 0;
    background-color: rgba(0, 0, 0,0.3); 
  visibility: hidden;
  opacity: 0; 

}
.team-image:hover .team-icon {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.team-image {
    width: 90%;
    margin: auto;
    position: relative;
}
.team-image img {
    width: 100%;
}
.team-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
}
.team-icon  a {
    display: block;
     color: #fff;
     width: 40px;
     height: 40px;
     background-color:#7ba7ff;
     margin-left: auto;
}
.team-icon a i {
    line-height: 40px;
}
.team-head {
    padding: 10px 0;
    font-size: 20px;
}
.team-text {
    color: #999;
    text-transform: uppercase;
    
}

.team-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top:0;
    background-color:#333;
    opacity: 0;
}
.team-item:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 1s;
    
} 
.team-item:hover h3 {
    color:#fff;
}
.team-item:hover span{
    color: #4b84f6;
}

/******************section-10******************/

.news-section {
}
.new-containt {
    overflow: auto;
    background-color: #f8f8f8;
}
.new-head {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 35px;
    padding-top: 400px;
    margin-bottom: 9px;
    text-align: center;
   
    
}
.new-line { 
    display: block;
    width: 62px;
    height: 4px;
 background-color: royalblue;
    margin: 0 auto 70px;
} 

.new-item {
    display: block;
    width: 30%;
     float: left;  
     padding: 30px;  
     position: relative;
     background-color: #fff;
}
.new-item-img {
  width: 100%;
}
.item-img {
    width: 200px;
    height: 250px;
}
.new-info {

}
.new-list{
    list-style-type: none;
    margin: 10px 0;
}
.new-list li {
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
}
.new-list li i {
    color: #6195ff;
}
.new-inf-head {
    font-weight: bold;
    margin: 20px 0 26px;
}
.new-text {
    color: #999;
    margin-bottom: 20px;
    line-height: 1.5;
}
.new-link {
    text-decoration: none;
    color: #6195ff;
    text-transform: capitalize;
    font-size: 17px;
}
.new-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top:0;
    left: 0;
    background-color:#7ba7ff;
    opacity: 0;
}
.new-item:hover:after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

/***********section-footer****************/
.footer {
    width: 100%;
    height: 360px;
    background-color: #4c4d52;
}
.footer-contant{
  text-align: center;
}
.footer-image {
    margin-top: 90px;
    width: 200px;
    height: 100px;
}

 
.footer-list {
    list-style-type: none;
}
.footer-list li {
    display: inline-block;
    border: none;
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color:#6195ff;
    padding-top: 15px;
    font-size: 20px;
    text-align: center;
    margin: 17px 1px;
}
.footer-list li a{
    color: #fff;
}
.footer-contant p {
    font-size: 12px;
    color: #999;
}